body,
html {
  margin: 0;

  height: 100%;
}

.card {
  display: flex;

  font-family: sans-serif;

  min-height: 100vh;

  background-color: var(--gray-100);

  flex-direction: row;
}

.lobby-details {
  flex: 1;

  padding: 20px;

  background-color: var(--white);

  display: flex;

  flex-direction: column;
}

.lobby-details h2 {
  font-size: 1.5em;

  margin-bottom: 5px;

  color: #212121;
}

.lobby-details p {
  color: #616161;

  margin-bottom: 15px;
}

.game-code-container {
  background-color: #cef4c3;

  padding: 15px;

  border-radius: 8px;

  margin-bottom: 15px;

  text-align: center;
}

.game-code1 {
  color: var(--green-900);
}

.game-code {
  font-size: 2.2rem;

  color: var(--green-700);

  font-weight: bold;

  margin-bottom: 5px;
}

.copy-link-button {
  background-color: #fafafa;

  color: #2196f3;

  cursor: pointer;

  padding: 10px 15px;

  border: none;

  border-radius: 8px;
}

.players-section {
  margin-top: 20px;

  flex-grow: 1;

  overflow-y: auto;
}

.players-header {
  display: flex;

  align-items: center;

  color: var(--gray-700);

  margin-bottom: 10px;

  font-size: 1rem;
}

.player-item {
  display: flex;

  align-items: center;

  padding: 10px;

  border-bottom: 1px solid var(--gray-300);
}

.player-avatar {
  width: 30px;

  height: 30px;

  border-radius: 50%;

  background-color: var(--gray-300);

  display: flex;

  justify-content: center;

  align-items: center;

  margin-right: 10px;

  font-weight: bold;
}

.player-info {
  flex-grow: 1;
}

.player-role {
  color: var(--gray-500);

  font-size: 0.8rem;

  margin-left: 5px;

  padding: 2px 5px;

  background-color: var(--gray-50);

  border-radius: 4px;
}

.player-status {
  color: #4caf50;

  display: flex;

  align-items: center;

  font-size: 0.9rem;
}

.game-options {
  flex-basis: 30%;

  padding: 20px;

  background-color: var(--white);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.select-grid-container {
  margin-bottom: 15px;
}

.select-grid-container select {
  width: 100%;

  padding: 10px;

  border: 1px solid var(--gray-300);

  border-radius: 8px;

  font-size: 0.95rem;
}

.randomize-button {
  background: none;

  border: 1px solid #2196f3;

  color: #2196f3;

  cursor: pointer;

  padding: 10px 15px;

  border-radius: 8px;

  margin-top: 10px;

  width: 100%;
}

.start-game-button {
  background-color: var(--purple-700);

  color: white;

  padding: 15px 20px;

  border: none;

  border-radius: 8px;

  font-size: 1.1rem;

  margin-top: 20px;

  width: 100%;
}

@media (max-width: 700px) {
  .card {
    flex-direction: column;

    padding: 10px;
  }

  .game-code {
    font-size: 1.5rem;
  }

  .start-game-button,
  .randomize-button {
    font-size: 1rem;
  }
}
